<!DOCTYPE html>
<html>
<head>
  <title>Cart</title>
</head>
<body>
  <h1>Cart Items</h1>
  <h2>Bienvenido, {{ user.email }}</h2>
  <ul>
    {{#each cart.id}}
      <li>
        {{this.title}} - Quantity: {{this.quantity}}
      </li>
    {{/each}}
  </ul>
</body>
</html>
