<form action="/product" method="post">

    title: <input type="text" name="title">
    description: <input type="text" name="description">
    code: <input type="text" name="code">
    price: <input type="number" name="price">
    status: <input type="text" name="status">
    stock: <input type="number" name="stock">
    category: <input type="text" name="category">
    thumbnails: <input type="text" name="thumbnails">

    <input type="submit" value="Crear">
</form>