<h1>Login</h1>

<form action="/api/session/login" method="post">
    Email: <input type="email" name="email"><br>
    Password: <input type="text" name="password"><br>

    <button action="/create" method="post">Crear usuario</button>
    <button type="submit">Login</button>
</form>